.category-main-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
.item-container{
    border: 2px solid blue;
    margin-top: 10px;
    height: 100px;
    align-items: stretch;
}
