.element-render-div{
    background-color: white;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    box-shadow: 10px 1px 10px 1px grey;
    padding-bottom: 20px;
    margin-bottom: 10px;
   
}